{% extends 'home/layout.html' %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
    #title {
        text-align: center;
        font-size: 50px;
        color: black;
        background-color: linen;
    }
    .col-1 {
        background-color: linen;
    }
    .text {
        background-color: linen;
        font-size: 20px;
        margin-top: 20px;
    }
    </style>
{% endblock %}

{% block body %}
    <div id="title">
        Welcome to my game! 
    </div>
    <div class="text">
        Already have and account?                       
        <a href="{% url 'home:login' %}">login</a>
    </div>
    <div class="text">
        New and Dont have an account? Sign in right now for free!
        <a href="{% url 'home:register' %}">register</a>
    </div>
{% endblock %}
